body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left {
  width: 35vw;
  background-image: url(./images/pudding.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 65vw;
}

.first {
  height: 27vh;
  margin-left: 4%;
  margin-top: 3%;
}

.second {
  height: 26vh;
  background-color: white;
  box-shadow: 2px 5px #e1e0df;
}

.form-main-div {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 10px;
  width: 40%;
  justify-content: space-between;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.second h3 {
  margin-left: 50px;
  padding-top: 15px;
}

input {
  width: 200px;
  border: 1px solid #ebe9e5;
  height: 25px;
  border-radius: 5px;
}

input:focus {
  border: 1px solid blue;
  outline: none;
}

input:invalid {
  border: 1px solid red;
}

label {
  font-size: 10px;
  color: rgb(131, 131, 136);
}

button {
  font-size: 10px;
}

#error {
  color: red;
  font-size: 10px;
  margin: 1px;
}

.btn-yellowish {
  background-color: hsl(41, 77%, 78%);
  font-size: 13px;
  color: black;
  text-shadow: 1px 1px white;
  border: 1px solid hsl(36, 50%, 60%);
  border-radius: 10px;
  height: 37px;
  width: 150px;
  font-weight: bold;
  box-shadow: 2px 5px #e1e0df;
}

.third {
  margin-top: 15px;
  margin-left: 50px;
}

.hyperlink {
  margin-left: 50px;
  margin-top: 25px;
  font-size: 12px;
}

.login {
  color: hsl(36, 50%, 60%);
  font-weight: bold;
  text-decoration: none;
}

.a-footer {
  color: white;
}

.p-footer {
  font-size: 12px;
  text-align: center;
}

.forImage {
  height: 40vh;
  display: flex;
  align-items: flex-end;
}

.forFooter {
  height: 60vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.logo {
  height: 250px;
}

.semi-transparent {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
}
